<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pycsou FAIR Catalogue</title>
    <meta name="description" content="{{description}}">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    {% block css %}
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="../static/images/pycsou-fair.png">
    {% endblock css %}

</head>

<body>
    {% block header %}
    <header id='entrytitle' style="background-color: #000; margin: 0; padding: 5px 20px 25px 20px;">
        <h1>
            <a href="{% block logoimagesrc %}https://github.com/matthieumeo/pycsou"><img src="../static/images/pycsou.png" height="100px"></a>
            <a><img src="../static/images/pycsou-fair.png{% endblock logoimagesrc %}" height="100px"></a>
        </h1>
        <p style="font-size: 90%;"><a href="https://github.com/matthieumeo/pycsou" style="color: #999;">[View on GitHub/register your package]</a> </p>
    </header>

    {% endblock header %}
  <div style="max-width: 1200px; margin: auto;">
    {% block body %} {% endblock body %}
  </div>
    {% block footer %}
    <footer class="footer">
    <hr>
    The official <a href="http://matthieumeo.github.io/pycsou-fair">FAIR</a> of <a href="http://www.pycsou.org">Pycsou</a> plugins.
    <br>
    This work is supported by the <a href="http://www.snf.ch/en" target="_blank">Swiss National Science Foundation</a>, as well as by the
    <a href="http://www.epfl.ch" target="_blank">EPFL</a><br><br>
    </footer>
    {% endblock footer %}
</body>

</html>